/*
.user-tabs-tab .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
  margin-top: 48px;
  background: #ececec;
  border: 0;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
  color: #0052CC;
  background: #fff;
}
*/
.user-tabs-tab .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
.user-tabs-tab .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
  margin-top: 48px;
  background: #ececec;
  border: 0;
}
.user-tabs-tab .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
.user-tabs-tab .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
  color: #0052cc;
  background: #fff;
}

.user-tabs-tab
  .ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane,
.ant-tabs-left
  > div
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  padding-left: 0;
}
.sider-hamberger {
  background-color: #0052cc;
  color: #fff;
  max-width: 63px;
}
