@import '~antd/dist/antd.css';

.layout {
  min-height: 100vh;
}

.noti-success {
  background-color: rgb(10, 165, 10);
  color: #FFF;
}

.noti-info {
  background-color: rgb(8, 135, 240);
  color: #FFF;
}

.noti-error {
  background-color: rgb(236, 39, 55);
  color: #FFF;
}

.noti-warning {
  background-color: rgb(218, 149, 1);
  color: #FFF;
}

.main-content {
  margin: 16px 0;
}

.site-layout-content {
  min-height: 380px;
  padding: 24px;
  background: #fff;
}
.ant-layout-header{
  background-color: #FFF;
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.ant-layout-header .nav-user-info p {
  line-height: 20px;
}
.ant-layout-header .user-login-info{
  float: right;
}
.ant-layout-header .user-login-info span.chakra-avatar {
  margin: 15px 5px 0;
}
.modal-category{
  width: auto;
}
.modal-category .ant-modal-body{
  height: 500px;
  overflow-y: scroll;
}